<% provide(:blog, "active") %>

<div class="container custom-blog-container">

      <%= render 'header' %>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <h2>Listing all articles</h2>
          <p><%= link_to "New article", new_article_path, class: "btn btn-primary" %></p>
          <hr>
             
          <div class="blog-post">
            <% @articles.each do |article| %>
              <h3 class="blog-post-title"><%= link_to article.title, article_path(article) %></h3>
              <p class="blog-post-meta"><%= article.created_at %> by Greg</p>
              <p><%= simple_format(article.description) %></p>
              <p><%= link_to 'Edit', edit_article_path(article), class: "btn btn-info" %>&nbsp;
              &nbsp;
              <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></p>
              <br>

            <% end %>
      
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <%= render 'sidebar' %>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

