<% provide(:articles, "active") %>
<div class="container custom-blog-container">

      <%= render 'shared/blog_header' %>

      <div class="row">

        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title"><%= @article.title %></h2>
              <p class="blog-post-meta"><small><%= @article.created_at.strftime("%a %b %d, %Y") %></small>
              by <%= @article.user.username if @article.user%></p>
              <p><%= simple_format(@article.description) %></p>
          </div><!-- /.blog-post -->
        </div>
      </div>
      
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>  
      <div class="row">
        <div class="col col-sm-8">
          <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-info" %>
          <%= link_to "Article List", articles_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
</div>